/* New */

.home-hero {
  background-image: url("/assets/images/heroopacity.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--black);
  padding: 5em 0;
}

.home-hero:after {
  background-color: var(--black);
}

.home-hero h1 {
  color: var(--white);
}

.home-hero p {
  color: var(--white);
  font-weight: bold;
}

.app-teacher-list-container {
  display: block;
  padding: 20px;
}


/* Old */

.previous {
  background-color: #7678ED;
  border-color: #7678ED;
  color: #fff;
}

.next {
  background-color: #3D348B;
  border-color: #3D348B;
  color: #fff;
}

.next:hover, .previous:hover {
  background-color: #F35B04;
  border-color: #F35B04; ;
}

button[disabled] {
  background-color: #dbdbdb;
  border-color: #dbdbdb;
  color: #c1c1c1;
}

button[disabled]:hover {
  background-color: #dbdbdb;
  border-color: #dbdbdb;
  color: #c1c1c1;
  cursor: not-allowed;
}

