/* New */

.app-teacher-list-container {
  display: block;
  padding: 50px 20px 20px;
  position: relative;
}

.teacher-filter  {
  padding: 10px 10px;
  border-radius: 8px;
}

.teacher-filter label {
  font-weight: 500;
  margin: 0px;
  padding: 0;
}

.filter-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  column-gap: 10px;
}

.filter-buttons {
  display: flex;
  column-gap: 10px;
  padding: 10px 0px;
  justify-content: center;
}

.filter-button {
  background-color: var(--purple);
  color: var(--white);
  font-weight: 500;
}

.close-button {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
}

.reset-button {
  background-color: var(--fucsia);
  color: var(--white);
  font-weight: 500;
}

/* Old */

.previous {
  background-color: #7678ED;
  border-color: #7678ED;
  color: #fff;
}

.next {
  background-color: #3D348B;
  border-color: #3D348B;
  color: #fff;
}

.next:hover, .previous:hover {
  background-color: #F35B04;
  border-color: #F35B04; ;
}

button[disabled] {
  background-color: #dbdbdb;
  border-color: #dbdbdb;
  color: #c1c1c1;
}

button[disabled]:hover {
  background-color: #dbdbdb;
  border-color: #dbdbdb;
  color: #c1c1c1;
  cursor: not-allowed;
}

.not-found{
  margin: auto;
}

.model-img {
  width: 100px;
  height: 100px;
}

.icon-img {
  width: 40px;
  height: 40px;
}

.custom-modal-body {
  max-height: 600px;
  overflow-y: auto;
}

.bg-middle{
  background-color: #ced4da;
}

.teacher-avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: top;
}

.home-map {
  margin-bottom: 73px;
}

.ngx-pagination .current {
  background: var(--blue) !important;
  color: #fefefe;
  cursor: default;
}