<div class="app-teacher-list-container">
  <section class="teacher-filter my-2">
    <form action="" [formGroup]="filterForm" (ngSubmit)="applyFilter()">
      <div
        class="row d-flex justify-content-between align-items-end g-3 pb-4 border-bottom border-1"
      >
        <!-- Filtor materia -->
        <div class="col mt-0">
          <label for="subject" class="form-label fs-5">Materias</label>
          <select
            class="form-select"
            id="subject"
            aria-label="Default select example"
            size="1"
            formControlName="subject"
          >
            <option *ngFor="let subject of subjectList" [value]="subject">
              {{ subject }}
            </option>
          </select>
        </div>
        <!-- Filtor precios -->
        <div class="col mt-0">
          <label for="price" class="form-label fs-5"
            >Precio/hora <span class="text-muted fs-6">(hasta)</span></label
          >
          <div class="d-flex gap-2 align-items-center">
            <input
              type="range"
              class="form-range"
              min="0"
              max="100"
              id="price"
              [value]="filterForm.get('price')?.value"
              formControlName="price"
            />
            <span class="text-primary fs-4">{{
              filterForm.get("price")?.value
            }}</span>
          </div>
        </div>
        <!-- Filtor experiecnia -->
        <div class="col mt-0">
          <label for="experience" class="form-label fs-5"
            >Experiencia <span class="text-muted fs-6">(hasta)</span></label
          >
          <div class="d-flex gap-2 align-items-center">
            <input
              type="range"
              class="form-range"
              min="0"
              max="60"
              id="experience"
              [value]="filterForm.get('experience')?.value"
              formControlName="experience"
            />
            <span class="text-primary fs-4">{{
              filterForm.get("experience")?.value
            }}</span>
          </div>
        </div>
        <!-- Filtor puntuacion -->
        <div class="col mt-0">
          <label for="score" class="form-label fs-5"
            >Puntuación <span class="text-muted fs-6">(desde)</span></label
          >
          <div class="d-flex gap-2 align-items-center">
            <input
              type="range"
              class="form-range"
              min="0"
              max="5"
              id="score"
              [value]="filterForm.get('score')?.value"
              formControlName="score"
            />
            <span class="text-primary fs-4">{{
              filterForm.get("score")?.value
            }}</span>
          </div>
        </div>
        <!-- botones -->
        <div class="col mt-0 d-flex gap-3">
          <button class="btn btn-primary rounded-2" type="submit">
            Filtrar
          </button>
          <button class="btn btn-primary rounded-2" type="button" (click)="showNearbyTeachers()">
            Buscar cercanos
          </button>
          <button type="button"
            class="btn btn-success rounded-2"
            (click)="resetFilters()"
          >
            Resetear filtros
          </button>
        </div>
      </div>
    </form>
  </section>
  <section class="mt-0">
    <div class="row g-0">
      <div
        class="home-map col-sm-12 col-md-12 col-lg-5 col-xl-5 order-lg-last mb-3"
      >
        <app-map [lista]="arrUsers"></app-map>
      </div>
      <div class="teacher-list col-sm-12 col-md-12 col-lg-7 col-xl-7 mt-4 p-0">
        <div class="row g-2 pe-3">
          <div *ngIf="arrUsers.length === 0">
            <div class="col-12 fs-4 text-muted text-center">
              No se encontró ningún resultado...
            </div>
            <div class="d-flex justify-content-center">
              <img
                class="not-found w-75 object-fit-fill"
                src="./assets/images/not-found.png"
                alt=""
              />
            </div>
          </div>

          <article
            class="teacher-card col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4"
            *ngFor="
              let user of arrUsers
                | paginate : { itemsPerPage: 6, currentPage: p }
            "
          >
            <app-teacher-card [myUser]="user"></app-teacher-card>
          </article>
          <div class="pagination-controls mt-4 d-flex justify-content-end">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ranking mb-5">
    <hr />
    <div
      class="d-flex gap-2 align-items-center justify-content-center mt-3 mb-5"
    >
      <i class="fa-solid fa-star text-warning fs-5"></i>
      <i class="fa-solid fa-star text-warning fs-4"></i>
      <i class="fa-solid fa-star text-warning fs-3"></i>
      <h1 class="display-5 fw-bold text-body-emphasis mb-0">Clasificación</h1>
      <i class="fa-solid fa-star text-warning fs-3"></i>
      <i class="fa-solid fa-star text-warning fs-4"></i>
      <i class="fa-solid fa-star text-warning fs-5"></i>
    </div>
    <div class="theBests">
      <div class="d-flex flex-wrap justify-content-evenly gap-2 mt-3">
        <div
          class="d-flex align-items-center flex-column gap-2"
          *ngFor="let teacher of arrUsersSorted"
        >
          <div
            class="teacher-avatar"
            [style.backgroundImage]="
              'url(' +
              (teacher.image ? teacher.image : './assets/images/no-image.png') +
              ')'
            "
            [title]="teacher.fullname"
          ></div>
          <h5 class="card-name">{{ teacher.fullname }}</h5>
          <div class="d-flex justify-content-center">
            <span class="fs-5 mb-0 d-flex gap-2" *ngFor="let item of stars">
              <i
                class="fs-3"
                [ngClass]="{
                  'fa-solid':
                    item - 0.5 < (teacher?.average || 0) ||
                    item - 0.5 === (teacher?.average || 0),
                  'fa-star':
                    item - 0.5 < (teacher?.average || 0) ||
                    item - 0.5 > (teacher?.average || 0),
                  'text-warning':
                    item - 0.5 < (teacher?.average || 0) ||
                    item - 0.5 === (teacher?.average || 0),
                  'fa-star-half-stroke': item - 0.5 === (teacher?.average || 0),
                  'fa-regular': item - 0.5 > (teacher?.average || 0)
                }"
              ></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal information -->

<div
  class="modal fade"
  id="infoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Datos personales</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body px-4 custom-modal-body">
        <div class="d-flex gap-3">
          <img
            class="model-img rounded-circle"
            [src]="
              userToShow.image
                ? userToShow.image
                : './assets/images/no-image.png'
            "
            alt=""
          />
          <div class="d-flex flex-column mt-2">
            <h3 class="weight-500 fs-3 mb-0">{{ userToShow.fullname }}</h3>
            <span class="fs-5">@{{ userToShow.username }}</span>
          </div>
          <div class="status ms-auto d-flex align-items-center">
            <div
              class="contracted align-self-center bg-success text-white p-3"
              *ngIf="rol === 'alumno' && relationshipStatus === 1">
              <h2 class="mb-0">Contratado</h2>
            </div>
            <div
              class="contracted align-self-center bg-primary text-white p-3"
              *ngIf="rol === 'alumno' && relationshipStatus === 0">
              <h2 class="mb-0">Pendiente</h2>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column gap-3 mt-5">
          <div class="row g-3">
            <div class="d-flex align-items-center gap-4 mb-3 col-sm-6">
              <i class="fa-solid fa-envelope fs-4"></i>
              <p class="fs-5 mb-0">{{ userToShow.email }}</p>
            </div>
            <div
              class="d-flex align-items-center gap-4 mb-3 col-sm-6"
              *ngIf="userToShow.rol === 'profesor'"
            >
              <i class="fa-solid fa-dollar-sign fs-4"></i>
              <p class="fs-5 mb-0">{{ userToShow.price }}</p>
            </div>
          </div>
          <div class="row g-3">
            <div class="d-flex align-items-center gap-4 mb-3 col-sm-6">
              <i class="fa-solid fa-phone fs-4"></i>
              <p class="fs-5 mb-0">
                {{ userToShow.phone ? userToShow.phone : "--" }}
              </p>
            </div>
            <div
              class="d-flex align-items-center gap-4 mb-3 col-sm-6"
              *ngIf="userToShow.rol === 'profesor'"
            >
              <i class="fa-solid fa-graduation-cap fs-4"></i>
              <p class="fs-5 mb-0">{{ userToShow.experience }} años</p>
            </div>
          </div>
          <div
            class="d-flex align-items-center gap-4 mb-3"
            *ngIf="userToShow.rol === 'profesor'"
          >
            <i class="fa-solid fa-map-location-dot fs-4"></i>
            <p class="fs-5 mb-0">{{ userToShow.location }}</p>
          </div>
          <div
            class="d-flex align-items-center gap-4 mb-3"
            *ngIf="userToShow.rol === 'profesor'"
          >
            <i class="fa-solid fa-book fs-4"></i>
            <p class="fs-5 mb-0">{{ stringToArray(userToShow.subjects) }}</p>
          </div>
          <div class="d-flex align-items-start gap-4 mb-3">
            <i class="fa-solid fa-file fs-4"></i>
            <p class="fs-5 mb-0">
              {{ userToShow.description ? userToShow.description : "--" }}
            </p>
          </div>
          <div class="d-flex align-items-start gap-4 mb-3">
            <i class="fa-solid fa-ranking-star fs-4"></i>
            <span class="fs-5 mb-0 d-flex gap-2" *ngFor="let item of stars">
              <i
                class="fs-3"
                [ngClass]="{
                  'fa-solid':
                    item - 0.5 < userToShowAVG || item - 0.5 === userToShowAVG,
                  'fa-star':
                    item - 0.5 < userToShowAVG || item - 0.5 > userToShowAVG,
                  'text-warning':
                    item - 0.5 < userToShowAVG || item - 0.5 === userToShowAVG,
                  'fa-star-half-stroke': item - 0.5 === userToShowAVG,
                  'fa-regular': item - 0.5 > userToShowAVG
                }"
              ></i>
            </span>
          </div>
          <hr />
          <div class="">
            <div class="text-center">
              <span class="text-muted fs-4">Comentarios</span>
            </div>
            <div
              class="d-flex align-items-center gap-3 mb-3"
              *ngFor="let comment of userToShowComments"
            >
              <img
                class="icon-img rounded-circle"
                src="./assets/images/testingavatar2.jpeg"
                alt=""
              />
              <div class="fs-5 bg-middle rounded-pill p-3">
                {{ comment.comments }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          *ngIf="rol === 'alumno' && relationshipStatus === -1"
          data-bs-dismiss="modal"
          (click)="contract()"
        >
          Contratar
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
