<div class="app-teacher-list-container">
  <section class="teacher-filter my-2"></section>

  <form action="" [formGroup]="filterForm" (ngSubmit)="saveFormValues()">
    <div class="d-flex justify-content-between align-items-end gap-5 mb-4">
      <div class="col">
        <label for="subject" class="form-label">Materias</label>
        <select
          class="form-select"
          id="subject"
          aria-label="Default select example"
          size="1"
          formControlName="subject">
          <option *ngFor="let subject of subjectList" [value]="subject">
            {{ subject }}
          </option>
        </select>
      </div>
      <div class="col">
        <label for="price" class="form-label">Precio/hora</label>
        <div class="d-flex gap-2 align-items-center">
          <input
            type="range"
            class="form-range"
            min="0"
            max="100"
            id="price"
            [value]="filterForm.get('price')?.value"
            formControlName="price"
          />
          <span class="text-primary fs-4">{{filterForm.get("price")?.value}}</span>
        </div>
      </div>
      <div class="col">
        <label for="experience" class="form-label">Experiencia</label>
        <div class="d-flex gap-2 align-items-center">
          <input
            type="range"
            class="form-range"
            min="0"
            max="60"
            id="experience"
            [value]="filterForm.get('experience')?.value"
            formControlName="experience"
          />
          <span class="text-primary fs-4">{{filterForm.get("experience")?.value}}</span>
        </div>
      </div>
      <div class="col">
        <label for="score" class="form-label">Puntuacion</label>
        <div class="d-flex gap-2 align-items-center">
          <input
            type="range"
            class="form-range"
            min="0"
            max="5"
            id="score"
            [value]="filterForm.get('score')?.value"
            formControlName="score"
          />
          <span class="text-primary fs-4">{{filterForm.get("score")?.value}}</span>
        </div>
      </div>
      <div class="col d-flex gap-3">
        <button class="btn btn-primary" type="submit">Filtrar</button>
        <button class="btn btn-success" type="" (click)="resetFilters()">Resetear filtros</button>
      </div>
    </div>
  </form>

  <section class="mt-2">
    <div class="row g-0">
      <div class="teacher-list col-lg-6 col-12 p-0">
        <div class="row g-2 pe-3">
          <article
            class="teacher-card col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"
            *ngFor="let user of arrUsers"
          >
            <app-teacher-card [myUser]="user"></app-teacher-card>
          </article>
          <!-- <nav aria-label="Page navigation example" class="mt-5">
            <ul class="pagination justify-content-center pagination-lg">
              <li class="page-item"><button class="page-link previous" (click)="gotoPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button></li>
              <li class="page-item"><button class="page-link next" (click)="gotoPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button></li>
            </ul>
          </nav> -->
        </div>
      </div>
      <div class="home-map col-lg-6 col-12">
        <app-map [arrUsers]="arrUsers"></app-map>
      </div>
    </div>
  </section>
</div>
