<!-- <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap py-2 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><img src="/assets/images/closeteacherslogo2.png" alt="Closeteachers"></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="rounded-pill form-control form-control-dark w-50 " type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">

    <div class="dropdown px-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow " data-popper-placement="top-start" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-15px, 40px, 0px);">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    
    <nav id="sidebarMenu" class="mt-5 col-md-3 col-lg-2 d-md-block bg-light sidebar collapse d-flex flex-column">
      <div class="mb-auto flex-grow-1">
        <ul class="nav flex-column px-4">
          <li class="nav-item d-flex align-items-center">
              <i class="fa-solid fa-gauge me-2 fs-5"></i>
              <span data-feather="home"></span>
              DASHBOARD
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" [routerLink]="['/dashboard', 'profile']" >
              <i class="fa-solid fa-user me-2 fs-5"></i>
              Mi perfil
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol === 'alumno'">
            <a class="nav-link" [routerLink]="['/dashboard', 'myteachers']">
              <i class="fa-solid fa-chalkboard-user me-2 fs-5"></i>
              Mis profesores
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol === 'profesor'">
            <a class="nav-link" [routerLink]="['/dashboard', 'mystudents']">
              <i class="fa-solid fa-people-group me-2 fs-5"></i>
              Mis alumnos
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol !== 'administrador'">
            <a class="nav-link" [routerLink]="['/dashboard', 'messages']">
              <i class="fa-solid fa-envelope me-2 fs-5"></i>
              Mensajes
            </a>
          </li> 
          <li class="nav-item mt-3" *ngIf="rol === 'administrador'">
            <a class="nav-link" [routerLink]="['/dashboard', 'lists']">
              <i class="fa-solid fa-table-list me-2 fs-5"></i>
              Listado de usuarios
            </a>
          </li>         
        </ul>

        <ul class="nav flex-column px-4">
          <li class="border-top my-3"></li>
        </ul>

        <ul class="nav flex-column px-4">
          <li class="nav-item mt-3">
            <a class="nav-link" [routerLink]="['/dashboard', 'settings']">
              <i class="fa-solid fa-wrench me-2 fs-5"></i>
              Configuración
            </a>
          </li>
        </ul>
        
      </div>      
    </nav>

    <section class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5">
      <router-outlet></router-outlet>
    </section>

  </div>
</div> -->
<header class="py-3 mb-0 bg-dark">
  <div
    class="container-fluid d-grid gap-3 align-items-center"
    style="grid-template-columns: 1fr 2fr"
  >
    <div class="ms-4">
      <a
        href="#"
        class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
      >
        <img src="/assets/images/closeteacherslogo2.png" alt="Closeteachers" />
      </a>
    </div>

    <div class="d-flex align-items-center">
      <form class="w-100 me-3" role="search">
        <input
          type="search"
          class="search form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="flex-shrink-0 dropdown">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            [src]="userImage ? userImage : './assets/images/no-image.png'"
            alt="mdo"
            width="40"
            height="40"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" [routerLink]="['/dashboard', 'profile']" (click)="selectItem(1)">Perfil</a></li>
          <li *ngIf="rol === 'administrador'"><a class="dropdown-item" [routerLink]="['/dashboard', 'lists']" (click)="selectItem(5)">Lista de usuarios</a></li>
          <li *ngIf="rol === 'profesor'"><a class="dropdown-item" [routerLink]="['/dashboard', 'mystudents']" (click)="selectItem(3)">Mis alumnos</a></li>
          <li *ngIf="rol === 'alumno'"><a class="dropdown-item" [routerLink]="['/dashboard', 'myteachers']" (click)="selectItem(2)">Mis profesores</a></li>
          <li *ngIf="rol === 'alumno' || rol === 'profesor'"><a class="dropdown-item" [routerLink]="['/dashboard', 'messages']" (click)="selectItem(4)">Mensajes</a></li>
          <li><a class="dropdown-item" [routerLink]="['/dashboard', 'settings']" (click)="selectItem(6)">Configuración</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" [routerLink]="['/home']"><i class="fa-solid fa-house"></i> Home</a></li>
          <li><a class="dropdown-item" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar d-flex flex-column">
      <div class="mb-auto flex-grow-1">
        <ul class="nav flex-column px-4">
          <li class="nav-item d-flex align-items-center">
            <i class="fa-solid fa-gauge me-2 fs-5"></i>
            <span data-feather="home"></span>
            DASHBOARD
          </li>
          <li class="nav-item mt-3">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'profile']"
              [ngClass]="{ selected: selectedItemIndex === 1 }"
              (click)="selectItem(1)"
            >
              <i class="fa-solid fa-user me-2 fs-5"></i>
              Mi perfil
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol === 'alumno'">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'myteachers']"
              [ngClass]="{ selected: selectedItemIndex === 2 }"
              (click)="selectItem(2)"
            >
              <i class="fa-solid fa-chalkboard-user me-2 fs-5"></i>
              Mis profesores
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol === 'profesor'">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'mystudents']"
              [ngClass]="{ selected: selectedItemIndex === 3 }"
              (click)="selectItem(3)"
            >
              <i class="fa-solid fa-people-group me-2 fs-5"></i>
              Mis alumnos
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol !== 'administrador'">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'messages']"
              [ngClass]="{ selected: selectedItemIndex === 4 }"
              (click)="selectItem(4)"
            >
              <i class="fa-solid fa-envelope me-2 fs-5"></i>
              Mensajes
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol === 'administrador'">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'lists']"
              [ngClass]="{ selected: selectedItemIndex === 5 }"
              (click)="selectItem(5)"
            >
              <i class="fa-solid fa-table-list me-2 fs-5"></i>
              Listado de usuarios
            </a>
          </li>
        </ul>

        <ul class="nav flex-column px-4">
          <li class="border-top my-3"></li>
        </ul>

        <ul class="nav flex-column px-4">
          <li class="nav-item mt-3">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'settings']"
              [ngClass]="{ selected: selectedItemIndex === 6 }"
              (click)="selectItem(6)"
            >
              <i class="fa-solid fa-wrench me-2 fs-5"></i>
              Configuración
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
