
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap py-2 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><img src="/assets/images/closeteacherslogo2.png" alt="Closeteachers"></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="rounded-pill form-control form-control-dark w-50 " type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <!-- <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Sign out</a>
    </div> -->
    <div class="dropdown px-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow " data-popper-placement="top-start" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-15px, 40px, 0px);">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    
    <nav id="sidebarMenu" class="mt-5 col-md-3 col-lg-2 d-md-block bg-light sidebar collapse d-flex flex-column">
      <div class="mb-auto flex-grow-1">
        <ul class="nav flex-column px-4">
          <li class="nav-item d-flex align-items-center">
              <i class="fa-solid fa-gauge me-2 fs-5"></i>
              <span data-feather="home"></span>
              DASHBOARD
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" [routerLink]="['/dashboard', 'profile']" >
              <i class="fa-solid fa-user me-2 fs-5"></i>
              <!-- <span data-feather="file"></span> -->
              Mi perfil
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol === 'alumno'">
            <a class="nav-link" [routerLink]="['/dashboard', 'myteachers']">
              <i class="fa-solid fa-chalkboard-user me-2 fs-5"></i>
              <!-- <span data-feather="shopping-cart"></span> -->
              Mis profesores
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol === 'profesor'">
            <a class="nav-link" [routerLink]="['/dashboard', 'mystudents']">
              <i class="fa-solid fa-people-group me-2 fs-5"></i>
              <!-- <span data-feather="users"></span> -->
              Mis alumnos
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol !== 'administrador'">
            <a class="nav-link" [routerLink]="['/dashboard', 'messages']">
              <i class="fa-solid fa-envelope me-2 fs-5"></i>
              <!-- <span data-feather="bar-chart-2"></span> -->
              Mensajes
            </a>
          </li> 
          <li class="nav-item mt-3" *ngIf="rol === 'administrador'">
            <a class="nav-link" [routerLink]="['/dashboard', 'lists']">
              <i class="fa-solid fa-table-list me-2 fs-5"></i>
              <!-- <span data-feather="bar-chart-2"></span> -->
              Listado de usuarios
            </a>
          </li>         
        </ul>

        <ul class="nav flex-column px-4">
          <li class="border-top my-3"></li>
        </ul>

        <ul class="nav flex-column px-4">
          <li class="nav-item mt-3">
            <a class="nav-link" [routerLink]="['/dashboard', 'settings']">
              <i class="fa-solid fa-wrench me-2 fs-5"></i>
              <!-- <span data-feather="shopping-cart"></span> -->
              Configuración
            </a>
          </li>
        </ul>
        
      </div>      
    </nav>

    <section class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5">
      <router-outlet></router-outlet>
    </section>

  </div>
</div>
