
header img {
  max-width:  200px;
}


.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 40px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.img-icono{
  width: 25px;
  height: 25px;
}

.model-img{
  width: 100px;
  height: 100px;
}

td i:hover {
  cursor: pointer;
}

.card {
  position: relative;
 }
 
 img.teacher-card-avatar {
   position: relative;
   border-radius: 50%;
   width: 100px;
   height: 100px;
   margin: auto;
   margin-top: -40px;
 }
 
 .teacher-card-cover {
   height: 160px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 5px 5px 0px 0px;
 }

 .nav-elem{
  color: #212529;
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: 9px 16px;
 }

 .selected{
  background-color: #212529;
  color: #fff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
 }

 .sidebar-dash{
  height: calc(100vh);
  overflow: hidden;
  transition: transform 0.4s;
 }

 i.fa-chevron-right{
  display: block ;
  position: absolute;
  top: 15px;
  right: -23px;
  padding: 10px 10px 10px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

i.fa-chevron-left{
  display: block;
  position: absolute;
  top: 15px;
  right: -23px;
  padding: 10px 10px 10px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

 /* @media (max-width: 945px) {
  .search{
    display: none;
  }
  .sidebar-dash {
    transform: translateX(-280px);
  }

  i.fa-chevron-right{
    display: block;
  }
  
  i.fa-chevron-left{
    display: none;
  }

  .show{
    transform: translateX(0px);
    transition: transform 0.6s;
  }
  
  .hidden{
    transform: translateX(-280px);
    transition: transform 0.6s;
  } 
}*/
