
/* Dashboard Header */

header {
  background-color: var(--white);
}

.header-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  column-gap: 10px;
  max-width: 1920px;
  margin: auto;
}

header .logo {
  width: 180px;
  max-width: 100%;
  height: auto;
  display: block;
}

@media(max-width: 767px) {
  header .logo {
    width: 155px;
  }
}

.header-right {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-weight: 500;
}

@media(max-width: 420px) {
  .header-right {
    column-gap: 10px;
  }
}

.header-right i {
  margin-bottom: 0px;
}

button.login {
  color: var(--black);
  border-radius: 8px;
  font-weight: 500;
}

button.login:hover {
  color: var(--dark-purple);
}

button.login span {
  padding-left: 5px;
}

@media(max-width: 767px) {
  button.login span {
    display: none;
  }
}

button.signup {
  color: var(--white);
  background-color: var(--purple);
  border-radius: 8px;
  font-weight: 500;
}

button.signup:hover {
  background-color: var(--dark-purple);
}

button.signup span {
  padding-left: 5px;
}

@media(max-width: 767px) {
  button.signup span{
    display: none;
  }
}

a.home {
  border-radius: 8px;
  background-color: var(--purple);
  padding: 5px 10px;
  color: var(--white);
  text-decoration: none;
}

a.home:hover {
  background-color: var(--dark-purple);
}

a.home span {
  padding-left: 5px;
}

@media(max-width: 767px) {
  a.home span {
    display: none;
  }
}

a.dashboard {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 8px;
  padding: 5px 8px;
}

a.dashboard:hover {
  background-color: var(--dark-blue);
}

a.dashboard span {
  padding-left: 5px;
}

@media(max-width: 767px) {
  a.dashboard span {
    display: none;
  }
}

button.logout {
  color: var(--black);
  padding: 5px 8px;
}

button.logout:hover {
  color: var(--dark-purple);
  padding: 5px 8px;
}


button.logout span {
  padding-left: 5px;
}

@media(max-width: 767px) {
  button.logout span {
    display: none;
  }
}

/* ------------------- */

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 40px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.img-icono{
  width: 25px;
  height: 25px;
}

.model-img{
  width: 100px;
  height: 100px;
}

td i:hover {
  cursor: pointer;
}

.card {
  position: relative;
 }
 
 img.teacher-card-avatar {
   position: relative;
   border-radius: 50%;
   width: 100px;
   height: 100px;
   margin: auto;
   margin-top: -40px;
 }
 
 .teacher-card-cover {
   height: 160px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 5px 5px 0px 0px;
 }

 .nav-elem{
  color: #212529;
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: 9px 16px;
  font-size: 0.8em !important;
 }

 .selected{
  background-color: var(--purple);
  color: #fff;
  border-radius: 8px;
 }

 .sidebar-dash{
  height: calc(100vh);
  overflow: hidden;
  transition: transform 0.4s;
 }

 i.fa-chevron-right{
  display: block ;
  position: absolute;
  top: 15px;
  right: -23px;
  padding: 10px 10px 10px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

i.fa-chevron-left{
  display: block;
  position: absolute;
  top: 15px;
  right: -23px;
  padding: 10px 10px 10px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media (max-width: 991px) {
  .dashboard-sidebar {
    display: none !important;
  }
}

