<header class="sticky-top">
  <div class="header-container">
    <div class="header-left">
      <a href="/" class="">
        <img class="logo" src="/assets/images/closeteacherslogo1.png" alt="Closeteachers">
      </a>
    </div>
  
    <div class="header-right">
      <a [routerLink]="['/home']" class="home">
        <i title="Home" class="fa-solid fa-house fs-6 mb-1"></i><span>Inicio</span>
      </a>

      <a [routerLink]="['/dashboard', 'profile']" class="dashboard nav-link">
        <i title="Dashboard" class="fa-solid fa-gauge fs-6 mb-1"></i><span>Dashboard</span>
      </a>
      
      <div class="flex-shrink-0 dropdown">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            [src]="userImage ? userImage : './assets/images/no-image.png'"
            alt="mdo"
            width="40"
            height="40"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" [routerLink]="['/dashboard', 'profile']" (click)="selectItem(1)">Perfil</a></li>
          <li *ngIf="rol === 'administrador'"><a class="dropdown-item" [routerLink]="['/dashboard', 'lists']" (click)="selectItem(5)">Usuarios</a></li>
          <li *ngIf="rol === 'profesor'"><a class="dropdown-item" [routerLink]="['/dashboard', 'mystudents']" (click)="selectItem(3)">Mis Alumnos</a></li>
          <li *ngIf="rol === 'alumno'"><a class="dropdown-item" [routerLink]="['/dashboard', 'myteachers']" (click)="selectItem(2)">Mis Profesores</a></li>
          <li *ngIf="rol === 'alumno' || rol === 'profesor'"><a class="dropdown-item" [routerLink]="['/dashboard', 'messages']" (click)="selectItem(4)">Mensajes</a></li>
          <li><a class="dropdown-item" [routerLink]="['/dashboard', 'settings']" (click)="selectItem(6)">Configuración</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" [routerLink]="['/home']"><i class="fa-solid fa-house"></i> Home</a></li>
          <li><a class="dropdown-item" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav
      class="dashboard-sidebar col-md-3 col-lg-2 bg-light sidebar d-flex flex-column">
      <div class="mb-auto flex-grow-1 vh-100">
        <ul class="nav flex-column px-2">
          <li class="nav-item mt-3">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'profile']"
              [ngClass]="{ selected: selectedItemIndex === 1 }"
              (click)="selectItem(1)"
            >
              <i class="fa-solid fa-user me-2 fs-5"></i>
              Mi perfil
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol === 'alumno'">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'myteachers']"
              [ngClass]="{ selected: selectedItemIndex === 2 }"
              (click)="selectItem(2)"
            >
              <i class="fa-solid fa-chalkboard-user me-2 fs-5"></i>
              Mis profesores
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol === 'profesor'">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'mystudents']"
              [ngClass]="{ selected: selectedItemIndex === 3 }"
              (click)="selectItem(3)"
            >
              <i class="fa-solid fa-people-group me-2 fs-5"></i>
              Mis alumnos
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol !== 'administrador'">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'messages']"
              [ngClass]="{ selected: selectedItemIndex === 4 }"
              (click)="selectItem(4)"
            >
              <i class="fa-solid fa-envelope me-2 fs-5"></i>
              Mensajes
            </a>
          </li>
          <li class="nav-item mt-3" *ngIf="rol === 'administrador'">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'lists']"
              [ngClass]="{ selected: selectedItemIndex === 5 }"
              (click)="selectItem(5)"
            >
              <i class="fa-solid fa-table-list me-2 fs-5"></i>
              Listado de usuarios
            </a>
          </li>
        </ul>

        <ul class="nav flex-column px-4">
          <li class="border-top my-3"></li>
        </ul>

        <ul class="nav flex-column px-4">
          <li class="nav-item mt-3">
            <a
              class="nav-elem"
              [routerLink]="['/dashboard', 'settings']"
              [ngClass]="{ selected: selectedItemIndex === 6 }"
              (click)="selectItem(6)"
            >
              <i class="fa-solid fa-wrench me-2 fs-5"></i>
              Configuración
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="col-md-12 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
