<header class="sticky-top">
  <div class="header-container">
    <div class="header-left">
      <a href="/" class="">
        <img class="logo" src="/assets/images/closeteacherslogo1.png" alt="Closeteachers">
      </a>
    </div>
  
    <div class="header-right">
      <a href="" class="home" *ngIf="isLogged">
        <i title="Home" class="fa-solid fa-house fs-6 mb-1"></i><span>Inicio</span>
      </a>

      <a [routerLink]="['/dashboard/profile']" class="dashboard nav-link" *ngIf="isLogged">
        <i title="Dashboard" class="fa-solid fa-gauge fs-6 mb-1"></i><span>Dashboard</span>
      </a>

      <div class="text-end">
        <button title="Cerrar Sesión" type="button" class="logout btn" (click)="logout()" *ngIf="isLogged"><i class="fa-solid fa-right-from-bracket"></i><span>Cerrar Sesión</span></button>
        <button title="Iniciar Sesión" type="button" class="login btn" [routerLink]="['/login']" *ngIf="!isLogged"><i class="fa-solid fa-right-to-bracket"></i><span>Iniciar sesión</span> </button>
        <button title="Registrarme" type="button" class="signup btn" [routerLink]="['/register']" *ngIf="!isLogged"><i class="fa-solid fa-user-plus"></i> <span>Registrarse</span></button>
      </div>
    </div>
  </div>
</header>