
<app-header></app-header>

<main class="flex-shrink-0">
<section class="home-hero px-4 my-0 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Encuentra Profesores Expertos<br>Cerca de tu Área</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Busca por Materia y encuentra los profesores más cercanos a tu Ubicación </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <input class="form-control form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Buscar</button>
    </div>
  </div>
</section>
</main>

<app-teacher-list></app-teacher-list>

<app-footer></app-footer>
