
<app-header></app-header>

<main class="flex-shrink-0">
  <section class="home-hero px-4 my-0 text-center">
    <div class="hero-container">
      <div class="hero-content">
        <h1 class="display-5 fw-bold text-body-emphasis">Encuentra Profesores y Expertos<br>Cerca de tu Área</h1>
        <p class="lead">Busca por Materia, Experiencia, Precio y Puntuacion. Encuentra los Profesores y Expertos más cercanos a tu Ubicación y contratalos.</p>
        <div class="hero-ctas">
          <a href="#teacher-filter" class="btn cta-search">Buscar Profesores</a>
        </div>  
      </div>
    </div>
  </section>
  <app-teacher-list></app-teacher-list>
</main>

<app-footer></app-footer>
