<nav
  style="
    --bs-breadcrumb-divider: url(
      &#34;data:image/svg + xml,
      %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
    );
  "
  aria-label="breadcrumb"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#"><i class="fa-solid fa-house fs-5"></i></a>
    </li>
    <li class="breadcrumb-item" aria-current="page">Dashboard</li>
    <li class="breadcrumb-item active" aria-current="page">Perfil</li>
  </ol>
</nav>

<!-- ---------------------------- Sección de Bienvenida ----------------------------------------------- -->

<div class="rounded-4 bg-light p-3">
  <div class="row align-items-center">
    <div class="col-md-12 col-lg-4">
      <img
        src="assets/images/welcome-dashboard.jpg"
        alt=""
        class="w-100"
      />
    </div>
    <div class="col-md-12 col-lg-8 d-flex flex-column">
      <h4 class="font-20 weight-500 mb-4">
        ¡Bienvenido/a a tu panel de control personalizado!
        <div class="weight-600 fs-2 text-primary pt-1">
          {{ userLogged?.fullname }}
        </div>
      </h4>
      <p class="font-18 max-width-600 mb-2">
        Aquí encontrarás todas las herramientas y funciones necesarias para
        tener el control total de tus actividades. Nuestro objetivo es brindarte
        una experiencia fluida y eficiente mientras exploras y gestionas tus
        datos. En esta vista podra manejar un listado con todos los profesor que
        establecido contacto y podra intercambiar mensajes con cada uno de ello.
        También podras tener la posibilidad de modificar tus datos personales.
      </p>

      <p class="font-18 max-width-600">
        ¡Disfruta de tu panel de control personalizado y aprovecha al máximo tus
        datos!
      </p>
    </div>
  </div>
</div>

<!-- ---------------------------- Sección de Datos personales ----------------------------------------------- -->

<div class="p-3 mt-4 row gap-5">
  <div class="card shadow-lg p-3 col-md-12 col-lg-4">
    <div
      class="class teacher-card-cover"
      style="background-image: url('{{
        userLogged?.cover
          ? userLogged?.cover
          : 'https://images.unsplash.com/photo-1568667256549-094345857637?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=415&q=80'
      }}')"
    ></div>
    <img
      class="teacher-card-avatar img-fluid"
      [src]="
        userLogged?.image ? userLogged?.image : './assets/images/no-image.png'
      "
      alt="{{ userLogged?.fullname }}"
    />
    <div class="card-body">
      <div class="d-flex flex-column gap-2">
        <div class="d-flex flex-column">
          <h3 class="weight-500 fs-3 mb-0">{{ userLogged?.fullname }}</h3>
          <span class="fs-5">@{{ userLogged?.username }}</span>
        </div>
        <div class="d-flex text-muted">
          <i class="fa-regular fa-envelope fs-7 p-1"></i>
          <span class="fs-7">{{ userLogged?.email }}</span>
        </div>
        <div class="d-flex ps-3 mt-3 gap-3 text-secondary align-items-center">
          <i class="fa-brands fa-twitter fs-3"></i>
          <i class="fa-brands fa-instagram fs-3"></i>
          <i class="fa-brands fa-square-facebook fs-3"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow-lg p-3 col-md-12 col-lg-7">
    <div class="card-header text-center">
      <h3 class="weight-500 fs-3 mb-0">Sobre mi</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 d-flex flex-column">
          <span class="card-text"><strong>Nombre</strong></span>
          <p class="card-text">{{ userLogged?.fullname }}</p>
        </div>
        <div class="col-md-3 d-flex flex-column">
          <span class="card-text"><strong>Email</strong></span>
          <p class="card-text">{{ userLogged?.email }}</p>
        </div>
        <div class="col-md-3 d-flex flex-column">
          <span class="card-text"><strong>Teléfono</strong></span>
          <p class="card-text">
            {{ userLogged?.phone ? userLogged?.phone : "Sin definir" }}
          </p>
        </div>
        <div class="col-md-3 d-flex flex-column">
          <span class="card-text"><strong>Ubicación</strong></span>
          <p class="card-text">
            {{ userLogged?.location ? userLogged?.location : "Sin definir" }}
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <h5 class="card-title pb-2">Descripción</h5>
        <p class="card-text">
          {{
            userLogged?.description ? userLogged?.description : "Sin definir"
          }}
        </p>
      </div>
    </div>
  </div>
</div>
