<nav
  style="
    --bs-breadcrumb-divider: url(
      &#34;data:image/svg + xml,
      %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
    );
  "
  aria-label="breadcrumb"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#"><i class="fa-solid fa-house fs-5"></i></a>
    </li>
    <li class="breadcrumb-item" aria-current="page">Dashboard</li>
    <li class="breadcrumb-item active" aria-current="page">Mis Estudiantes</li>
  </ol>
</nav>

<div class="rounded-4 bg-light p-3 mb-3">
  <div class="table-responsive small">
    <div class="text-center fs-4 text-muted" *ngIf="withoutStudents">
      {{ this.studentActiveList }}
    </div>
    <table
      class="table align-middle table-striped table-hover table-sm caption-top"
      *ngIf="!withoutStudents"
    >
      <caption class="fs-4">Mis alumnos</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">username</th>
          <th scope="col">Email</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentActiveList">
          <td>
            <img
              class="img-icono rounded-circle"
              [src]="
                student.image ? student.image : './assets/images/no-image.png'
              "
              alt=""
            />
          </td>
          <td>{{ student.fullname }}</td>
          <td>@{{ student.username }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.phone }}</td>
          <td>
            <span
              [ngClass]="{
                'bg-success': student.relationship === 1,
                'bg-primary': student.relationship !== 1
              }"
              class="p-1 bg-success rounded-2 text-white"
              >{{
                student.relationship === 1 ? "Aceptado" : "Pendiente..."
              }}</span
            >
          </td>
          <td class="d-flex gap-4">
            <i
              data-id="{{ student.id_user }}"
              class="fa-solid fa-eye fs-4 text-primary"
              data-bs-toggle="modal"
              data-bs-target="#infoModal"
              (click)="seeUserInfor(student.id_user)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="rounded-4 bg-light p-3">
  <div class="table-responsive small">
    <div class="text-center fs-4 text-muted" *ngIf="withoutPending">
      {{ this.studentPendingList }}
    </div>
    <table
      class="table align-middle table-striped table-hover table-sm caption-top"
      *ngIf="!withoutPending"
    >
      <caption class="fs-4">Alumnos solicitantes</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">username</th>
          <th scope="col">Email</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentPendingList">
          <td>
            <img
              class="img-icono rounded-circle"
              [src]="
                student.image ? student.image : './assets/images/no-image.png'
              "
              alt=""
            />
          </td>
          <td>{{ student.fullname }}</td>
          <td>@{{ student.username }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.phone }}</td>
          <td>
            <span
              [ngClass]="{
                'bg-success': student.relationship === 1,
                'bg-primary': student.relationship !== 1
              }"
              class="p-1 bg-success rounded-2 text-white"
              >{{
                student.relationship === 1 ? "Aceptado" : "Pendiente..."
              }}</span
            >
          </td>
          <td class="d-flex gap-4">
            <i
              data-id="{{ student.id_user }}"
              class="fa-solid fa-eye fs-4 text-primary"
              data-bs-toggle="modal"
              data-bs-target="#infoModal"
              (click)="seeUserInfor(student.id_user)"
            ></i>
            <div class="form-check form-switch">
              <input
                class="form-check-input h-75"
                type="checkbox"
                role="switch"
                [checked]="student.relationship === 1"
                (click)="changeStudentrelationship(student.id_user)"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal information -->

<div
  class="modal fade"
  id="infoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Datos personales</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body px-4">
        <div class="d-flex gap-3">
          <img
            class="model-img rounded-circle"
            [src]="
              userInfo.image ? userInfo.image : './assets/images/no-image.png'
            "
            alt=""
          />
          <div class="d-flex flex-column mt-2">
            <h3 class="weight-500 fs-3 mb-0">{{ userInfo.fullname }}</h3>
            <span class="fs-5">@{{ userInfo.username }}</span>
          </div>
        </div>
        <div class="d-flex flex-column gap-3 mt-5">
          <div class="d-flex align-items-center gap-4 mb-3">
            <i class="fa-solid fa-envelope fs-4"></i>
            <p class="fs-5 mb-0">{{ userInfo.email }}</p>
          </div>
          <div class="d-flex align-items-center gap-4 mb-3">
            <i class="fa-solid fa-phone fs-4"></i>
            <p class="fs-5 mb-0">
              {{ userInfo.phone ? userInfo.phone : "--" }}
            </p>
          </div>
          <div class="d-flex align-items-center gap-4 mb-3">
            <i class="fa-solid fa-map-location-dot fs-4"></i>
            <p class="fs-5 mb-0">--</p>
          </div>
          <div class="d-flex align-items-start gap-4 mb-3">
            <i class="fa-solid fa-file fs-4"></i>
            <p class="fs-5 mb-0">
              {{ userInfo.description ? userInfo.description : "--" }}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
