<section class="home-hero px-4 my-0 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Encuentra Profesores Expertos<br>Cerca de tu Área</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Busca por Materia y encuentra los profesores más cercanos a tu Ubicación </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <input class="form-control form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Buscar</button>
    </div>
  </div>
</section>

<section class="container teacher-filter my-2">
  
</section>


<section class="container mt-2">
  <div class="row">
    <div class="teacher-list col-lg-9 col-12 p-0">
      <div class="row g-2 pe-3">
        <article class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let user of arrUsers">
          <app-teacher-card [myUser]="user"></app-teacher-card>
        </article>
        <!-- <nav aria-label="Page navigation example" class="mt-5">
          <ul class="pagination justify-content-center pagination-lg">
            <li class="page-item"><button class="page-link previous" (click)="gotoPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button></li>
            <li class="page-item"><button class="page-link next" (click)="gotoPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button></li>
          </ul>
        </nav> -->
      </div>
    </div>
    <div class="home-sidebar col-lg-3 col-12">

    </div>
  </div>
</section>
