<nav
  style="
    --bs-breadcrumb-divider: url(
      &#34;data:image/svg + xml,
      %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
    );
  "
  aria-label="breadcrumb"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#"><i class="fa-solid fa-house fs-5"></i></a>
    </li>
    <li class="breadcrumb-item" aria-current="page">Dashboard</li>
    <li class="breadcrumb-item active" aria-current="page">Listados</li>
  </ol>
</nav>
<!-- ------------------------- Sección de listados ------------------------------------------------->

<div class="rounded-4 bg-light p-3">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="admins-tab"
        data-bs-toggle="tab"
        data-bs-target="#admins-tab-pane"
        type="button"
        role="tab"
        aria-controls="admins-tab-pane"
        aria-selected="true"
      >
        Administradores
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="teachers-tab"
        data-bs-toggle="tab"
        data-bs-target="#teachers-tab-pane"
        type="button"
        role="tab"
        aria-controls="teachers-tab-pane"
        aria-selected="false"
        (click)="loadTeachersLists()"
      >
        Profesores
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="students-tab"
        data-bs-toggle="tab"
        data-bs-target="#students-tab-pane"
        type="button"
        role="tab"
        aria-controls="students-tab-pane"
        aria-selected="false"
        (click)="loadStudentsLists()"
      >
        Alumnos
      </button>
    </li>
    <li class="ms-auto py-2 px-3">
      <i class="fa-solid fa-arrows-rotate fs-4 text-primary" (click)="refreshLists()"></i>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="admins-tab-pane"
      role="tabpanel"
      aria-labelledby="admins-tab"
      tabindex="0"
    >
      <div class="table-responsive small mt-4">
        <!----------------- tabla de administradores ------------------------------------------------------------->
        <table class="table align-middle table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">username</th>
              <th scope="col">Email</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let admin of adminsList">
              <td>
                <img
                  class="img-icono rounded-circle"
                  [src]="
                    admin.image ? admin.image : './assets/images/no-image.png'
                  "
                  alt=""
                />
              </td>
              <td>{{ admin.fullname }}</td>
              <td>{{ admin.username }}</td>
              <td>{{ admin.email }}</td>
              <td>
                <span
                  [ngClass]="{
                    'bg-success': admin.status === 1,
                    'bg-warning': admin.status !== 1
                  }"
                  class="p-1 bg-success rounded-2 text-white"
                  >{{ admin.status === 1 ? "Activo" : "Inactivo" }}</span
                >
              </td>
              <td class="d-flex gap-4">
                <i
                  title="Ver Detalles"
                  data-id="{{ admin.id_user }}"
                  class="fa-solid fa-eye fs-4 text-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#modal"
                  (click)="seeUserInfor(admin.id_user)"
                ></i>
                <div class="form-check form-switch">
                  <input
                    title="Dar de Baja/Alta"
                    data-id="{{ admin.id_user }}"
                    class="form-check-input h-75"
                    type="checkbox"
                    role="switch"
                    [checked]="admin.status === 1"
                    (click)="changeStatus(admin.id_user)"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="teachers-tab-pane"
      role="tabpanel"
      aria-labelledby="teachers-tab"
      tabindex="0"
    >
      <div class="table-responsive small mt-4">
        <!-- ------------------------Tabla Profesores---------------------------------------------------------------- -->
        <table class="table align-middle table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Materias</th>
              <th scope="col">Estado</th>
              <th scope="col" class="d-flex justify-content-center">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teacher of teachersList">
              <td>
                <img
                  class="img-icono rounded-circle"
                  [src]="
                    teacher.image
                      ? teacher.image
                      : './assets/images/no-image.png'
                  "
                  alt=""
                />
              </td>
              <td>{{ teacher.fullname }}</td>
              <td>@{{ teacher.username }}</td>
              <td>{{ teacher.email }}</td>
              <td>{{ teacher.phone }}</td>
              <td>{{ teacher.subjects }}</td>
              <!-- <td>
                <div
                  class="progress"
                  role="progressbar"
                  aria-label="Example with label"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  <div class="progress-bar" style="width: 100%">
                    <span class="mx-auto">100%</span>
                  </div>
                </div>
              </td> -->
              <td>
                <span
                  [ngClass]="{
                    'bg-success': teacher.status === 1,
                    'bg-warning': teacher.status !== 1
                  }"
                  class="p-1 bg-success rounded-2 text-white"
                  >{{ teacher.status === 1 ? "Activo" : "Inactivo" }}</span
                >
              </td>
              <td class="d-flex gap-4 justify-content-between">
                <i
                  class="fa-solid fs-4 text-success"
                  [ngClass]="{
                    'fa-circle-check': teacher.active === 1,
                    'text-success': teacher.active === 1,
                    'fa-ban': teacher.active !== 1,
                    'text-danger': teacher.active !== 1
                  }"
                  (click)="activeTeacher(teacher.id_user)"
                ></i>
                <i
                  data-id="{{ teacher.id_user }}"
                  class="fa-solid fa-eye fs-4 text-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#modal"
                  (click)="seeUserInfor(teacher.id_user)"
                ></i>

                <div class="form-check form-switch">
                  <input
                    data-id="{{ teacher.id_user }}"
                    class="form-check-input h-75"
                    type="checkbox"
                    role="switch"
                    [checked]="teacher.status === 1"
                    (click)="changeStatusTeacher(teacher.id_user)"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="students-tab-pane"
      role="tabpanel"
      aria-labelledby="students-tab"
      tabindex="0"
    >
      <div class="table-responsive small mt-4">
        <!-- ---------------------- Tabla Estudiantes ---------------------------------------------------------- -->
        <table class="table align-middle table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of studentsList">
              <td>
                <img
                  class="img-icono rounded-circle"
                  [src]="
                    student.image
                      ? student.image
                      : './assets/images/no-image.png'
                  "
                  alt=""
                />
              </td>
              <td>{{ student.fullname }}</td>
              <td>@{{ student.username }}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.phone ? student.phone : "--" }}</td>
              <td>
                <span
                  [ngClass]="{
                    'bg-success': student.status === 1,
                    'bg-warning': student.status !== 1
                  }"
                  class="p-1 bg-success rounded-2 text-white"
                  >{{ student.status === 1 ? "Activo" : "Inactivo" }}</span
                >
              </td>
              <td class="d-flex gap-4">
                <i
                  data-id="{{ student.id_user }}"
                  class="fa-solid fa-eye fs-4 text-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#modal"
                  (click)="seeUserInfor(student.id_user)"
                ></i>
                <div class="form-check form-switch">
                  <input
                    data-id="{{ student.id_user }}"
                    class="form-check-input h-75"
                    type="checkbox"
                    role="switch"
                    [checked]="student.status === 1"
                    (click)="changeStatusStudent(student.id_user)"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <span
    class="btn text-primary fs-6"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    ><i class="fa-solid fa-plus fs-6 me-2"></i>Añadir nuevo usuario</span
  >
</div>

<!-- Modal information ----------------------------------------------------------------->

<div
  class="modal fade"
  id="modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Datos personales</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body px-4">
        <div class="d-flex gap-3">
          <img
            class="model-img rounded-circle"
            [src]="
              userInfo.image ? userInfo.image : './assets/images/no-image.png'
            "
            alt=""
          />
          <div class="d-flex flex-column mt-2">
            <h3 class="weight-500 fs-3 mb-0">{{ userInfo.fullname }}</h3>
            <span class="fs-5">@{{ userInfo.username }}</span>
          </div>
        </div>
        <div class="d-flex flex-column gap-3 mt-5">
          <div class="row g-3">
            <div class="d-flex align-items-center gap-4 mb-3 col-sm-6">
              <i class="fa-solid fa-envelope fs-4"></i>
              <p class="fs-5 mb-0">{{ userInfo.email }}</p>
            </div>
            <div
              class="d-flex align-items-center gap-4 mb-3 col-sm-6"
              *ngIf="userInfo.rol === 'profesor'"
            >
              <i class="fa-solid fa-dollar-sign fs-4"></i>
              <p class="fs-5 mb-0">{{ userInfo.price }}</p>
            </div>
          </div>
          <div class="row g-3">
            <div class="d-flex align-items-center gap-4 mb-3 col-sm-6">
              <i class="fa-solid fa-phone fs-4"></i>
              <p class="fs-5 mb-0">
                {{ userInfo.phone ? userInfo.phone : "--" }}
              </p>
            </div>
            <div
              class="d-flex align-items-center gap-4 mb-3 col-sm-6"
              *ngIf="userInfo.rol === 'profesor'"
            >
              <i class="fa-solid fa-graduation-cap fs-4"></i>
              <p class="fs-5 mb-0">{{ userInfo.experience }} años</p>
            </div>
          </div>
          <div
            class="d-flex align-items-center gap-4 mb-3"
            *ngIf="userInfo.rol === 'profesor'"
          >
            <i class="fa-solid fa-map-location-dot fs-4"></i>
            <p class="fs-5 mb-0">{{ userInfo.location }}</p>
          </div>
          <div class="d-flex align-items-start gap-4 mb-3">
            <i class="fa-solid fa-file fs-4"></i>
            <p class="fs-5 mb-0">
              {{ userInfo.description ? userInfo.description : "--" }}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal New user -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Insertar nuevo usuario
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="insert" (ngSubmit)="insertNewUser()">
          <div class="row g-3">
            <div class="mb-3 col-sm-6">
              <label for="username" class="col-form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                formControlName="username"
              />
            </div>
            <div class="mb-3 col-sm-6">
              <label for="fullname" class="col-form-label"
                >Nombre completo</label
              >
              <input
                type="text"
                class="form-control"
                id="fullname"
                formControlName="fullname"
              />
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="email" class="form-label">Email</label>
              <div class="input-group has-validation">
                <span class="input-group-text"
                  ><i class="fa-regular fa-envelope fs-4 text-dark"></i
                ></span>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  placeholder="you@example.com"
                />
                <div class="invalid-feedback">
                  Por favor introduzca un email válido.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="password" class="form-label">Contraseña</label>
              <div class="input-group has-validation">
                <span class="input-group-text"
                  ><i class="fa-solid fa-key fs-4 text-dark"></i
                ></span>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  placeholder=""
                />
                <div class="invalid-feedback">
                  Por favor introduzca una contraseña válida.
                </div>
              </div>
            </div>
          </div>
          <div class="row g-3">
            <div class="mb-3 col-sm-6">
              <label for="role" class="col-form-label">Tipo de usuario</label>
              <select
                class="form-select"
                aria-label="Default select example"
                id="rol"
                formControlName="rol"
              >
                <option value="administrador">Administrador</option>
                <option value="profesor">Profesor</option>
                <option value="alumno">Alumno</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="resetForm()"
            >
              Cerrar
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              name="submit"
              [disabled]="!insert.valid"
              [attr.data-bs-dismiss]="closeModal"
              id="liveToastBtn"
            >
              Insertar usuario
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Toast Succefuly -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" [ngClass]="{'show': showToast}">
    <div class="toast-header bg-success">
      <strong class="me-auto text-white">Satisfactorio</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeToast()"></button>
    </div>
    <div class="toast-body bg-success-light">
      Se ha registrado un nuevo usuario.
    </div>
  </div>
</div>