<div class="card shadow-lg p-3">
  <div
    class="teacher-card-cover"
    [style.background-image]="
      'url(' +
      (myUser.cover
        ? myUser.cover
        : 'https://placehold.co/600x400/423f3f/FFFFFF/png') +
      ')'
    "
  ></div>
  <div
    class="teacher-card-avatar"
    [style.backgroundImage]="
      'url(' +
      (myUser.image ? myUser.image : './assets/images/no-image.png') +
      ')'
    "
    [title]="myUser.fullname"
  ></div>
  <!-- <img
    class="teacher-card-avatar"
    [src]="myUser.image ? myUser.image : './assets/images/no-image.png'"
    [alt]="myUser.fullname"
  /> -->

  <div class="card-rating ">
    <span class="fs-5 mb-0 d-flex gap-2" *ngFor="let item of stars">
      <i
        class="fs-3"
        [ngClass]="{
          'fa-solid':
            item - 0.5 < printStart(myUser.average) || item - 0.5 ===  printStart(myUser.average),
          'fa-star':
            item - 0.5 <  printStart(myUser.average) || item - 0.5 >  printStart(myUser.average),
          'text-warning':
            item - 0.5 < printStart(myUser.average) || item - 0.5 === printStart(myUser.average),
          'fa-star-half-stroke': item - 0.5 === printStart(myUser.average),
          'fa-regular': item - 0.5 > printStart(myUser.average)
        }"
      ></i>
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-name">{{ myUser.fullname }}</h5>
    <p class="card-subjects">
      <small class="text-muted">{{ stringToArray(myUser.subjects) }}</small>
    </p>
    <p class="card-description">
      <small class="">{{ myUser.brief_description }}</small>
    </p>
  </div>

  <div class="card-cta d-flex">
    <button
      class="btn-card btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#infoModal"
      (click)="seeUserInfo(myUser.id_user)"
    >
      <!-- <i class="fa-solid fa-eye"></i> -->
      <i class="fa-solid fa-eye"></i> Ver Más
    </button>
  </div>
</div>