<div class="card shadow-lg p-3">
    <div class="class teacher-card-cover" style="background-image: url('/assets/images/testingcover.jpeg');">

    </div>
    <img class="teacher-card-avatar" src="assets/images/testingavatar2.jpeg" [alt]="myUser.fullname">
    <div class="card-body">
      <h5 class="card-title">{{myUser.fullname}}</h5>
      <p class="card-text"><small class="text-muted">@{{myUser.username}}</small></p>
    </div>
    
  <div class="d-flex justify-content-between">
    <button [routerLink]="['/user', myUser.id_user]" class="btn btn-primary"><i class="fa-solid fa-eye"></i></button>
    <button [routerLink]="['/updateuser', myUser.id_user]" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i></button>
    <button class="btn btn-danger" (click)="deleteUser()"><i class="fa-solid fa-trash"></i></button> 
  </div>
</div>
