h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1em;
}

p {
  text-align: center;
}

.card {
 position: relative;
}

.teacher-card-avatar {
  position: relative;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-top: -40px;
  background-size: cover;
  background-position: top;
}

.teacher-card-cover {
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0px 0px;
}

.model-img {
  width: 100px;
  height: 100px;
}

.card-rating {
  text-align: center;
  font-weight: bold;
}

.card-rating i {
  color: var(--yellow);
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  min-height: 170px;
}

.card-cta {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card-rating {
  display: flex;
  justify-content: center;
}

.card-rating i:before {
  font-size: 12px;
}
