<div class="card shadow-lg p-3">
    <div class="class teacher-card-cover" style="background-image: url('/assets/images/testingcover.jpeg');">

    </div>
    <img class="teacher-card-avatar" src="assets/images/testingavatar2.jpeg" [alt]="myUser.fullname">
    <div class="card-body">
      <h5 class="card-name">{{myUser.fullname}}</h5>
      <p class="card-subjects"><small class="text-muted">{{myUser.subjects}}</small></p>
      <p class="card-description"><small class="text-muted">{{myUser.brief_description}}</small></p>
      <p class="card-location"><small class="text-muted">{{myUser.location}}</small></p>
    </div>
    
  <div class="d-flex justify-content-between">
    <button [routerLink]="['/user', myUser.id_user]" class="btn btn-primary"><i class="fa-solid fa-eye"></i></button>
  </div>
</div>
