<nav
  style="
    --bs-breadcrumb-divider: url(
      &#34;data:image/svg + xml,
      %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
    );
  "
  aria-label="breadcrumb"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#"><i class="fa-solid fa-house fs-5"></i></a>
    </li>
    <li class="breadcrumb-item" aria-current="page">Dashboard</li>
    <li class="breadcrumb-item active" aria-current="page">Mensajes</li>
  </ol>
</nav>
<!-- ------------------------- Sección de mis contactos ------------------------------------------------->
<div class="p-3 mt-4 row gap-5">
  <div class="list-people shadow-lg p-3 col-md-3 col-12 rounded-4">
    <input type="text" class="mb-3 form-control" placeholder="Search" />
    <div
      class="icon-message d-flex align-items-center gap-3 mb-3 px-3"
      *ngFor="let contact of myContacts"
      (click)="ourComunication(contact.id_user)"
    >
      <img
        class="list-chat-img rounded-circle shadow"
        [src]="contact.image ? contact.image : './assets/images/no-image.png'"
        alt=""
      />
      <div class="d-flex flex-column mt-2">
        <p class="weight-500 fs-5 mb-0">{{ contact.fullname }}</p>
        <span class="fs-6 text-muted">@{{ contact.username }}</span>
      </div>
    </div>
  </div>

  <!-- ------------------------- Sección del chat ------------------------------------------------->

  <div class="card shadow-lg p-3 col-md-8 col-12 list-people rounded-4">
    <div class="card-header">
      <div class="d-flex align-items-center gap-3 px-3">
        <img
          class="list-chat-img rounded-circle shadow"
          [src]="
            userChatActive.image
              ? userChatActive.image
              : './assets/images/no-image.png'
          "
          alt=""
        />
        <div class="mt-2">
          <p class="weight-500 fs-5 mb-0">{{ userChatActive.fullname }}</p>
        </div>
      </div>
    </div>
    <div class="card-body overflow-auto" #cardBody>
      <div class="text-center fs-4 text-muted" *ngIf="messageChatActive.length === 0">No tiene mensajes con este usuario...</div>
      <ul class="list-unstyled" *ngIf="messageChatActive.length !== 0">
        <li class="mb-5" *ngFor="let message of messageChatActive">
          <div
            class="d-flex flex-column"
            [ngClass]="{
              'align-items-start': (message.sender === 'profesor' && rol === 'alumno') || (message.sender === 'alumno' && rol === 'profesor'),
              'align-items-end': (message.sender === 'alumno' && rol === 'alumno') || (message.sender === 'profesor' && rol === 'profesor')}
              ">
            <div class="d-flex gap-3 ms-3" *ngIf="message.sender === 'profesor' && rol === 'alumno'">
              <p class="fs-6 mb-0"><strong>Profesor</strong></p>
              <span class="text-muted">{{ message.sent_time }}</span>
            </div>
            <div class="d-flex gap-3 ms-3" *ngIf="message.sender === 'profesor' && rol === 'profesor'">
             <span class="text-muted">{{ message.sent_time }}</span>
             <p class="fs-6 mb-0"><strong>Yo</strong></p>
            </div>
            <div class="d-flex gap-3 ms-3" *ngIf="message.sender === 'alumno' && rol === 'profesor'">
              <p class="fs-6 mb-0"><strong>Alumno</strong></p>
              <span class="text-muted">{{ message.sent_time }}</span>
            </div>
            <div class="d-flex gap-3 ms-3" *ngIf="message.sender === 'alumno' && rol === 'alumno'">
             <span class="text-muted">{{ message.sent_time }}</span>
             <p class="fs-6 mb-0"><strong>Yo</strong></p>
            </div>
            <div
              class="mw-50 p-3"
              [ngClass]="{
                'bg-light': message.sender === 'profesor',
                'bg-middle': message.sender === 'alumno',
                'text-start': message.sender === 'profesor',
                'text-end': message.sender === 'alumno',
                'cloud-message-left': (message.sender === 'profesor' && rol === 'alumno') || (message.sender === 'alumno' && rol === 'profesor'),
                'cloud-message-right': (message.sender === 'alumno' && rol === 'alumno') || (message.sender === 'profesor' && rol === 'profesor')}">
              <span>{{ message.message }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <form #chatForm="ngForm" (ngSubmit)="sendMessage(chatForm)">
      <div class="card-footer d-flex gap-3 align-items-center">
        <input
          type="text"
          class="d-none"
          [ngModel]="userChatActive.id_user"
          name="receiverId"
        />
        <input
          type="text"
          class="form-control rounded-pill"
          name="message"
          placeholder="Escriba un mensaje..."
          ngModel
        />
        <button type="submit" class="btn btn-link" style="padding: 0; background: none; border: none; box-shadow: none;">
          <i class="fa-solid fa-paper-plane fs-4"></i>
        </button>
      </div>
    </form>
  </div>
</div>
