/* Global Styles */

:root {
  --blue: #4CC9F0;
  --dark-blue: #4895EF;
  --purple: #7209B7;
  --dark-purple: #3A0CA3;
  --fucsia: #F72585;
  --black: #000814;
  --white: #ffffff;
  --gray: #dfdfdf;
  --yellow: #ffc107;
}

*, button {
  font-family: 'Roboto', sans-serif;
  transition: 0.3s;
}

.ngx-pagination .current {
  background-color: var(--purple) !important;
  border-radius: 4px;
  color: var(--white) !important;
}

.ol-zoom-in {
  background-color: var(--purple) !important;
  border-color: var(--purple) !important;
  color: var(--white) !important;
  padding: 10px !important;
}

.ol-zoom-out {
  background-color: var(--purple) !important;
  border-color: var(--purple) !important;
  color: var(--white) !important;
  padding: 10px !important;
}

.btn-reset{
  background-color: #7209B7;
  border-radius: 5px;
  color: #ffffff;
}

a {
  cursor: pointer;
}