/* Global Styles */

:root {
  --blue: #4CC9F0;
  --dark-blue: #4895EF;
  --purple: #7209B7;
  --dark-purple: #3A0CA3;
  --fucsia: #F72585;
  --black: #000814;
  --white: #ffffff;
  --gray: #dfdfdf;
  --yellow: #ffc107;
}

*, button {
  font-family: 'Roboto', sans-serif;
  transition: 0.3s;
}

.alert {
  display: flex;
  align-items: center;
}

.alert p {
  margin: 0 !important;
}